[submodule "third/googletest"]
	path = third/googletest
	url = https://github.com/google/googletest.git
[submodule "third/protobuf"]
	path = third/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
